* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border-radius: 1%;
}

body {
  font-family: "Roboto", sans-serif;
  color: black;
  margin:0;
  background:#4D6FB3;
}

header {
  margin-top: 25px;
  height:80px;
  color: #B38E3B;
  margin-bottom: 55px;
}

#game {
  text-align: center;
}

.row {
  max-width: 1000px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

header h1 {
  line-height: 1;
  top:24px;
  text-align: center;
}

header .question-and-score {
  font-size: 20px;
  font-weight: 600px;
  color:black;
  background: none;
}

.question-and-score ul {
  text-align:center;
  padding-left: 2%;
  padding-right: 2%;
}

.question-and-score li {
  display: inline-block;
  padding:0 2%;
}

.question-and-score li {
  display: inline-block;
  padding:0 2%;
}

.red
{
    background-color:red;
}